@model mvc.Models.LateFee

@{
    ViewBag.Title = "LateEventFee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LateEventFee</h2>

<div class="row">
    <div class="panel panel-default bootstrap-admin-no-table-panel">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">@ViewBag.Title</div>
        </div>
        <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in form-horizontal">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h4>How much is the amount of the late event fee in USD?</h4>
                <fieldset>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)
                    <div class="form-group">
                        <label class="col-lg-6 control-label" for="lateeventfee">The amount of the late event fee (USD)</label>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.late_fee, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.late_fee, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="reset" class="btn btn-default">Cancel</button>
                </fieldset>
            }
        </div>
    </div>
</div>

<style>
    .form-horizontal {
        padding: 30px;
    }

    input {
        width: 100%;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("button[type='reset']").click(function (e) {
                e.preventDefault();
                window.location.href = "/Admin/Index";
            });
        });
    </script>
}
